/* add padding for always-on fixed side nav */

header,
main,
footer {
    padding-left: 300px;
}

#search-results-control {
    display: none;
    position: fixed;
    left: 320px;
    top: 20px;
    min-width: 300px;
    background: rgba(192, 192, 192, 1);
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

.selected-result {
    background-color: #a5d6a7;
}

#match-previous-button,
#page-previous-button {
    float: left;
}

#match-next-button,
#page-next-button {
    float: right;
}

#nav-mobile {
    transform: translateX(0%);
}

#search-container {
    padding-top: 15px;
}

#loading-spinner {
    display: none;
}

.icon-valign {
    vertical-align: middle;
}

#page-image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#page-image-overlay {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
}

.result-title {
    font-weight: bold;
}

.overlay-initial {
    background-color: rgba(255, 255, 0, 0.35);
    cursor: pointer;
}

.overlay-clicked {
    background-color: rgba(255, 255, 165, 1);
    white-space: normal;
}

#logo-wrapper {
    float: left;
    clear: none;
}

#logo {
    height: 48px;
    vertical-align: middle;
}

#logo-text {
    padding-left: 10px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}