{# Base layout. -#}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/open-cleveland.png') }}" sizes="100x100">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/drocer.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sha.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drocer.js') }}"></script>
    {% block script -%} {% endblock script -%} {% block head -%} {% endblock head -%}
    <title>
        Cleveland City Record Search {% if self.title()|trim %}:{% endif -%} {% block title %}{% endblock title -%}
    </title>
</head>

<body>
    <div id="search-results-control">
        <button id="match-previous-button" class="btn green lighten-2 waves-effect waves-green">
            <i class="material-icons icon-valign">skip_previous</i>Match
        </button>
        <button id="match-next-button" class="btn green lighten-2 waves-effect waves-green">
            Match<i class="material-icons icon-valign">skip_next</i>
        </button>
        <div class="clearfix"></div>
        <button id="page-previous-button" class="btn green lighten-3 waves-effect waves-green">
            <i class="material-icons icon-valign">skip_previous</i>Page
        </button>
        <button id="page-next-button" class="btn green lighten-3 waves-effect waves-green">
            Page<i class="material-icons icon-valign">skip_next</i>
        </button>
        <div class="clearfix"></div>
    </div>
    <header>
        <div id="nav-mobile" class="side-nav fixed">
            <div id="search-container" class="container">
                <div class="row green">
                    <div class="col white-text">
                        <h5>Cleveland City Record Search</h5>
                    </div>
                </div>
                <div class="row">
                    <input id="search-input">
                    <button id="search-button" class="btn green waves-effect waves-green">
                        <i class="material-icons icon-valign">search</i> Search
                    </button>
                </div>
                <div id="search-results" class="row">
                </div>
            </div>
            <ul>
                <li class="logo">
                    <div id="logo-wrapper">
                        <a id="logo-link" href="{{ url_for('route_landing') }}" class="brand-logo waves-effect waves-green">
                            <img id="logo" src="{{ url_for('static', filename='images/open-cleveland.png') }}">
                            <span id="logo-text">Open Cleveland</span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li class="bold">
                    <a href="{{ url_for('route_browse') }}" class="waves-effect waves-green">Browse</a>
                </li>
                <li class="bold">
                    <a href="{{ url_for('route_about') }}" class="waves-effect waves-green">About</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div id="page-image-overlay"></div>
        <div class="container" id="page-image-container">
        </div>
        <div class="container">
            <div class="row">
                {% block body -%} {% endblock body -%}
            </div>
        </div>
    </main>
    <footer class="page-footer green">
        <div class="footer-copyright">
            <div class="container">
                <div class="row right">
                    © 2016 Open Cleveland.
                </div>
            </div>
        </div>
    </footer>
</body>

</html>